h1  /* titre de niveau 1 */
{
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 34px;
    color: #7ba686;
}

h2  /* titre de niveau 2 */
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;	
    font-style: normal;
    font-size: 34px;
    height: 50px;
    line-height: 42px;
    color: #125b30;
}

h3  /* titre de niveau 3 */
{
    font-family: 'Open Sans Italic', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    height: 37px;
    line-height: 22px;
    color: #125b30;
}

h4  /* titre de niveau 4 */
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    height: 30px; 
    line-height: 27px;
    color: #173831;
}

body {
    background-color: #d5d5d5;
}

body.backbody    /* partie principale de la page */
{
    width: 100%;
    height: 100%;
}

#body {
    background-color: #f6f9f7;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

hr.hr_simple  /* simple ligne horizontale */
{
    margin-left: 50px;
    margin-right: 50px;
    height: 1px;
    padding: 0;
    color: #aeccb6;
    background-color: #aeccb6;
    border: 0;
    
}

hr.hr_double /* double ligne horizontale */ 
{  
    margin-left: 50px;
    margin-right: 50px;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 5px double #aeccb6;
}

hr.hr_simple_news  /* simple ligne horizontale */
{
    height: 1px;
    padding: 0;
    border: 0;
    color: #aeccb6;
    background-color: #aeccb6;
}

hr.hr_double_news /* double ligne horizontale */ 
{  
    padding: 0;
    border: 0;
    border-top: 5px double #aeccb6;
}

a  /* lien hypertexte */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    height: 37px;
    line-height: 27px;
}

a:link, a:visited  /* lien hypertexte */
{
    color: #72ac31;
    text-decoration: none;
}

a:hover, a:focus, a:active
{
    color: #125b30;
    text-decoration: none;
}

li.active a
{
    color: #125b30;
}

li.selected a
{
    color: #125b30;
}

li.ancestor a
{
    color: #125b30
}

li.descendant a
{
    color: #72ac31;
}

p   /* paragraphe */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #125b30;    
}

nav /* liens principaux de navigation */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: justify;
    vertical-align: middle;
    margin:  0 50px 0 50px;
}

nav ul
{
    list-style: none;
    display: inline;
}

nav li 
{
    display: inline-block;
    list-style: none;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
}

nav a:link, a:visited
{
    color: #7ba686;
}

nav: a:hover, a:focus, a:active
{
    color:  #125b30; 
}

li  /* élément de la liste à puces */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #125b30;
}

#header /* En-tête */
{
    height: 182px;
    width: 1050px;
}

#logo_1 /* logo BCIS */
{
    float: left;
    width: 400px;
    height: 120px;
}

#logo_image_bcis
{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 38px;
    margin-left: 50px;
}

#logo_home /* logo BCIS */
{
    float: left;
    width: 25px;
    height: 20px;
    margin-top: 10px;
}

#title_bcis_1
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    margin-top: 50px;
    margin-left: 150px;
    color: #125b30;
}

#title_bcis_2
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;	
    font-style: normal;
    font-size: 14px;
    line-height: 9px;
    margin-left: 150px;
    color: #125b30;
    display: block;
}

.langchoice    /* menu de langue */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-align: right;
    list-style: none;
    float: right;
    margin-top: 50px;
}

.langchoice li
{
    display: inline;
    padding: 10px;
}

.langchoice a
{
    text-decoration: none;
}

.langchoice a:link, a:visited
{
    color: #7ba686;
}

.langchoice a:hover, a:focus, a:active
{
    color: #125b30; 
}

#title  /* titre principale du contenu  */
{
    height: 160px;
    width: 960px;
    line-height: 130px;
    text-align: center;
    display: inline;
}

#main_content   /* middle */
{
    width: 960px;
    margin: auto;
    vertical-align: middle;
}

#left   /* partie gauche du contenu */
{
    float: left;
    width: 606px;
    text-align: justify;
}

#center /* partie centrale du contenu */
{
    width: 46px;
}

#right  /* partie droite du contenu */
{
    float: right;
    width: 305px;
    text-align: justify;
    padding-top: 0px;
}

#logo_2
{
    width: 280px;
    height: 153px;
}

#logo_image_biodiv  /* logo de la bidoversité */
{
    width: 270px;
    height: 61px;
    margin: 46px 5px 46px 5px;
}

#title_news   /* titre de la partie nouvelles */
{
    font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    height: 52px;
    padding-top: 18px;
    color: #173831;
}

#text-news  p  /* contenu principale de la partie nouvelles */
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    width: 282px;
    color: #125b30;
    margin-bottom: 30px;
}

#text-news-deta p   /* contenu principale de la partie nouvelles */
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    width: 282px;
    color: #7ba686;
    margin-top: 1px;
}

#text-content   /* contenu  */
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #125b30;
    margin-bottom: 60px;
}

#text-content p  /* contenu  */
{
    text-align: justify;
    width: 580px;
    display: block;
    line-height: 27px; /* interligne */
    margin-bottom: 50px;
}

#text-content  a:link, a:visited  /* contenu  */
{
    line-height: 27px; /* interligne */
    text-decoration: none;
    color: #72ac31;
}

#text-content a:hover  /* contenu  */
{
    line-height: 27px; /* interligne */
    text-decoration: none;
    color: #125b30;
}

form input[type="text"], form input[type="email"],  form textarea 
{
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cfe3dc;
    border-radius: 4px;
    cursor: auto;
    display: block;
   font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #125b30;
    height: 30px;
    margin: 10px 0;
    padding: 6px 14% 8px 10px;
    text-indent: 0;
    vertical-align: middle;
    width: 82%;
}

form input[type="text"]:active, form input[type="text"]:focus, form input[type="email"]:active, form input[type="email"]:focus,  form textarea:active, form textarea:focus 
{
    border-color: #20aa76;
    outline: medium none;
}

form textarea {
    height: auto;
}

input[type=button], input[type=submit], input[type=reset]
{
    background-color: #d5d5d5;
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #125b30;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border: none;
    border-radius:12px 0 12px 0;
    box-shadow:1px 1px 3px #999;
    cursor: pointer;
    vertical-align: middle;
}

label
{
    font-family: 'Open Sans Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #72ac31;
}

#footer /* pie de page */
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;	
    font-style: normal;
    font-size: 14px;
    height: 60px;
    clear: both;
    color: #7ba686;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 19px;
}

